{% extends "index.html" %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<a href="/signup/">
    <button type="button" class="btn btn-dark" name ="submit_button" value="signup">Sign UP</button></a>
<a href='/upload'>
    <button type="button" class="btn btn-success" name ="upload_button" value="signup">Upload Photo</button></a></a>


{% endblock %}
