{% extends "index.html" %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="/upload" method="POST" enctype=multipart/form-data>
  <div class="form-group"   >
      <input type="file"  class="form-control-file" name="file"></input>
      <input type="hidden" name ="x-access-token" value={{jwt}}></input>
        <input type="submit" value = "Upload" class="btn btn-primary btn-lg"></input>
  </div>
</form>

{% endblock %}


{% block jquery %}
$( document ).ready(function() {
        console.log( "ready!" );
});

    {% endblock %}

