.form-control-file {
    margin-top: 80px;
     margin-left : 36%;
}

.btn {
    margin-top: 20px;
    width: 250px;
    margin-left: 36%;
}
.login-form{
    text-align: center;
    margin-top: 80px;
}
